* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: auto;
}
/* Header */
.header {
  position: fixed;
  height: 90px;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
.header .navbar-toggler {
  background: #189a46;
  color: #ffffff;
  border: none;
  font-size: 30px;
  display: none;
}
.header .total {
  display: flex;
  justify-content: space-between;
}
.header .total .dark {
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding-left: 24px;
  font-size: 22px;
}
.header .click {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: #189a46;
  text-decoration: none;
}
.header .navbar a {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.5s;
  color: black;
}
.header .navbar .nav_link {
  color: #189a46;
}
.header .navbar .fa-regular {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: 20px;
  transform: rotate(-33deg) scale(1.3);
  padding-left: 28px;
  bottom: -14px;
  color: gray;
}

.header .navbar {
  display: flex;
}
.header .navbar a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: #189a46;
  transition: all 0.4s linear;
}
.header .navbar a:hover::after {
  width: 100%;
}
.header .navbar a:hover {
  color: #189a46;
}
/* about us */
.services {
  margin-top: 90px;
  background-image: url(../Image/banner4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 1em 0;
}
.services .overlay {
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}
.services .container .cover h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.services .txt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .txt a {
  text-decoration: none;
  color: #189a46;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
}
.services .txt i {
  color: #fff;
  padding: 0 10px;
}
.services .txt p {
  color: #fff;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
}
.activities .row_act img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.activities .row_act {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 80px;
  margin-top: 80px;
  border-bottom: 1px solid #f0f3f0;
}
.activities .content_image {
  padding: 0 24px 0 15px;
}
.activities .content_txt {
  padding: 0 15px 0 48px;
}
.activities .change {
  padding: 0 48px 0 15px;
}
.activities .content_txt a {
  font-size: 17px;
  text-decoration: none;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}
.activities .content_txt a:hover {
  color: #189a46;
}
.activities .content_txt h6 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
.activities .content_txt h3 {
  font-size: 40px;
  font-weight: 600;
}
.activities .content_txt p {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

/* Footer */
.footer {
  background: #111;
}
.footer p,
.footer a {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
  text-decoration: none;
}
.footer .information {
  display: flex;
}
.footer .information .cover {
  display: flex;
}
.footer .information .cover .item {
  display: flex;
  flex-direction: column;
}
.footer .information h6 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
.footer .contact .icon i {
  margin-right: 15px;
  transition: all 0.5s;
}
.footer .information p,
.footer .information a {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
  text-decoration: none;
}
.footer .information a {
  margin-bottom: 5px;
}
.footer .information a:hover {
  text-decoration: underline;
  color: #fff;
}
.footer .footer_down {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}
.footer .footer_down a {
  color: #f53626;
}
.footer .footer_down a:hover {
  text-decoration: underline;
}

/* Back to top */
.backtotop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: #189a46;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #189a46;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
body .backtotop i {
  color: #fff;
}

/* responsive */
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .header .navbar {
    display: none;
  }
  .header .navbar-toggler {
    display: block;
    margin-left: 20px;
    padding: 5px 8px;
  }
  .activities .row_act .content_image,
  .activities .row_act .content_txt {
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .footer .information {
    display: block;
    padding-top: 10px;
  }
}
@media screen and (max-width: 576px) {
  .footer .information .cover {
    display: flex;
    flex-wrap: wrap;
  }
}
