* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: auto;
}
/* Header */
.header {
  position: fixed;
  height: 90px;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
.header .navbar-toggler {
  background: #189a46;
  color: #ffffff;
  border: none;
  font-size: 30px;
  display: none;
}
.header .total {
  display: flex;
  justify-content: space-between;
}
.header .total .dark {
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding-left: 24px;
  font-size: 22px;
}
.header .click {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: #189a46;
  text-decoration: none;
}
.header .navbar a {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.5s;
  color: black;
}
.header .navbar .nav_link {
  color: #189a46;
}
.header .navbar .fa-regular {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: 20px;
  transform: rotate(-33deg) scale(1.3);
  padding-left: 28px;
  bottom: -14px;
  color: gray;
}

.header .navbar {
  display: flex;
}
.header .navbar a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: #189a46;
  transition: all 0.4s linear;
}
.header .navbar a:hover::after {
  width: 100%;
}
.header .navbar a:hover {
  color: #189a46;
}
/* about us */
.about_us {
  margin-top: 90px;
  background-image: url(../image/banner4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 1em 0;
}
.about_us .overlay {
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}
.about_us .container .cover h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.about_us .txt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_us .txt a {
  text-decoration: none;
  color: #189a46;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
}
.about_us .txt i {
  color: #fff;
  padding: 0 10px;
}
.about_us .txt p {
  color: #fff;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
}
/* under */
.under .total {
  padding: 3rem 0;
}
.under .total .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.under .total h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
.under .total h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.under .content_left {
  padding: 0 15px 0 24px;
}
.under .content_right {
  padding: 0 15px 0 48px;
}
.under .total p {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
.under .content_right a {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #0c0c0c;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
}
.under .content_right a:hover {
  color: #189a46;
}
.under .content_right p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
.under .total h5 {
  font-size: 22px;
  line-height: 32px;
  opacity: 0.9;
}
/* history */
.history {
  padding: 3rem 0;
  background-image: url(../image/banner2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.history .overlay {
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 4, 8, 0.69);
}
.history .item {
  margin-left: auto;
  text-align: left;
  max-width: 640px;
  position: relative;
  z-index: 1;
}
.history .cover h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
.history .cover h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.history .item_down {
  margin-top: 40px;
}
.history .cover p,
.history .cover .inner span {
  color: #fff;
  opacity: 0.7;
  font-size: 1.2em;
  line-height: 28px;
}
.history .cover .inner h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}
.history .item_down {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
/* choose-us */
.choose-us {
  padding: 48px 0;
}
.choose-us .cover {
  display: flex;
  flex-wrap: wrap;
}
.choose-us .cover .content-left img {
  width: 100%;
  border-radius: 10px;
}
.choose-us .content-left {
  text-align: right;
  padding: 0 24px 0 15px;
}
.choose-us .content-right {
  padding: 0 15px 0 24px;
}
.choose-us .cover .title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
.choose-us .cover h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.choose-us .cover p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
.choose-us .row-content {
  display: flex;
}
.choose-us .row-content .right-icon {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.choose-us .row-content .right-icon .icon {
  color: #189a46;
  font-size: 44px;
  text-align: center;
}
.choose-us .row-content .right-icon .icon-change {
  padding: 0 10px;
}
.right-icon .icon i {
  margin-top: 4px;
  vertical-align: super;
}
.choose-us .content-right .text-right a {
  text-align: left;
  margin-bottom: 0;
  color: #000c04;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}
.choose-us .content-right .text-right a:hover {
  color: #189a46;
}
/* our team*/
.our-team {
  background-color: #f9f8fd;
}
.our-team .title-content h6 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
  text-align: center;
}
.our-team .title-content .txt {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  text-align: center;
}
.our-team .team-row .team {
  margin-bottom: 44px;
}

.our-team .team-row .team .team-info:hover h3 a {
  color: #189a46;
}
.our-team .team-row .team a {
  transition: transform 0.3s linear;
}
.our-team .team-row .team .team-info:hover img {
  transform: scale(1.1);
}
.our-team .team-row .team img {
  width: 100%;
  display: block;
  transition: transform 0.3s linear;
  height: auto;
  border-radius: 10px;
}
.our-team .column h3 {
  margin-top: 16px;
  margin-bottom: 0;
}
.our-team .column p {
  font-size: 16px;
  line-height: 25px;
  color: #696969;
}
.our-team .column {
  overflow: hidden;
}
.our-team .column h3 a {
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  color: #000c04;
  font-weight: 600;
}

.our-team .column .social {
  margin-top: 16px;
}
.our-team .column .social a {
  text-decoration: none;
  display: inline-block;
  margin-right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  background: rgba(147, 107, 232, 0.05);
  color: #189a46;
}
.our-team .column .social a:hover {
  background: #189a46;
  color: #fff;
  transition: 0.3s ease;
}

.our-team .column .social i {
  font-size: 12px;
  line-height: 30px;
  display: block;
}

/* Footer */
.footer {
  background: #111;
}
.footer p,
.footer a {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
  text-decoration: none;
}
.footer .information {
  display: flex;
}
.footer .information .cover {
  display: flex;
}
.footer .information .cover .item {
  display: flex;
  flex-direction: column;
}
.footer .information h6 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
.footer .contact .icon i {
  margin-right: 15px;
  transition: all 0.5s;
}
.footer .information p,
.footer .information a {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
  text-decoration: none;
}
.footer .information a {
  margin-bottom: 5px;
}
.footer .information a:hover {
  text-decoration: underline;
  color: #fff;
}
.footer .footer_down {
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}
.footer .footer_down a {
  color: #f53626;
}
.footer .footer_down a:hover {
  text-decoration: underline;
}
/* Back to top */
.backtotop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: #189a46;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #189a46;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
body .backtotop i {
  color: #fff;
}

/* responsive */
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .header .navbar {
    display: none;
  }
  .header .navbar-toggler {
    display: block;
    margin-left: 20px;
    padding: 5px 8px;
  }
  .under .total .content {
    flex-wrap: wrap;
  }
  .under .content_left {
    padding: 0 15px;
  }
  .under .content_right {
    margin-top: 48px;
    padding: 0 15px;
  }
  .choose-us .content-left {
    text-align: left;
  }
  .choose-us .content-right {
    margin-top: 50px;
  }
  .choose-us .row-content .right-icon .icon-change {
    padding: 0 17px;
  }
}
@media screen and (max-width: 768px) {
  .choose-us .row-content {
    display: block;
  }
  .choose-us .row-content .text-right {
    text-align: center;
  }
  .footer .information {
    display: block;
    padding-top: 10px;
  }
}
@media screen and (max-width: 576px) {
  .choose-us .row-content {
    display: block;
  }
  .choose-us .row-content .text-right {
    text-align: center;
  }

  .footer .information .cover {
    display: flex;
    flex-wrap: wrap;
  }
}
